

<footer>
    <ul>
        <li><a href="mailto:pete@suggs.org.uk">email</a></li>
        <li><a href="https://github.com/suggitpe">github.com/suggitpe</a></li>
        <li><a href="{{site.ghe}}/suggitpe.github.io/edit/master{{page.url | replace:'.html','.md' }}">Edit this page</a></li>
    </ul>
</footer>


<script src="{{ site.url }}/js/jquery.js"></script>

<script src="{{ site.url }}/js/bootstrap.js"></script>

<script>

    $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') === this.pathname.replace(/^\//,'') && location.hostname === this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

</script>
