<!-- Nav bar -->
<nav class="navbar navbar-fixed-top" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="{{ site.url }}/images/suggs.png" class="img-responsive">
            </a>
        </div>


    <div id="navbar-test" class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav" role="tablist">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="page-scroll" href="#top">Home</a>
            </li>
            <li>
                <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
                <a class="page-scroll" href="#cv">C.V.</a>
            </li>
            <li>
                <a class="page-scroll" href="#blog">Blog</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ site.url }}/recipes/bread/">Bread</a></li>
                    <li><a href="{{ site.url }}/recipes/chinese-dishes/">Chinese</a></li>
                    <li><a href="{{ site.url }}/recipes/traditional/">Traditional</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ site.url }}/links/lean">Lean</a></li>
                    <li><a href="{{ site.url }}/links/agile">Agile</a></li>
                    <li><a href="{{ site.url }}/links/architecture">Architecture</a></li>
                </ul>
            </li>

        </ul>
    </div>
    </div>

</nav>

<hr/>
